<div class="card-cont flex flex-row gap-x-10 justify-center mt-10">
<mat-card *ngFor="let user of info" >
   <mat-card-content>
      <h1>Personal Information</h1>
     <p> <img src={{user.img}} alt="" class="rounded-full w-32 "></p>
      <h3>Name:{{user.name}}</h3>
       <h3>Phone no:{{user.phone}}</h3>
       <h3>Email:{{user.email}}</h3>
       <h3>Age:{{user.age}}</h3>
       <h3>City:{{user.city}}</h3>
       <h3>Occupation:<span class="text-sky-900 font-medium">{{user.occupation}}</span></h3>
       <h3>Salary:{{user.salary}}</h3>
       <div *ngFor="let otherinfo of user.data">
        <h1>Other Information:</h1>
        <h3>Education:{{otherinfo.education}}</h3>
        <h3>College:{{otherinfo.college}}</h3>
        <h3>Passout year:{{otherinfo.year}}</h3>
       </div>
   </mat-card-content>
</mat-card>


</div>



 <div class="file flex justify-center mt-10">
   <input type="file"  (change)="onChange($event)">
   <img [src]="imageUrl" >
</div>
